@model IEnumerable<Gateway>
<h1>List of all Gateways</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">IPV4</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var gateway in Model)
        {  
            <partial name="_GatewayCard" model=" gateway" />         

        }
    </tbody>
</table>